/* Background color: beige #DDD0C8
   Text Color: Dark Gray #323232
   Heading Colors: Dark Gray
*/

/* DEFAULT STYLING FOR THE PAGE  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* font-family: sans-serif; */
    background-color: #DDD0C8;
    color: #323232; 
    min-height: 100vh;
}

/* HEADING STYLING */
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #323232;
    text-align: center;
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #323232;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

/* LINK STYLING */

.skipToMain {
    display: hidden;
    position: relative;
    top: -400px;
}

/* NAV STYLING */
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
    /* background-color: white; */
    background-color: rgba(255,255,255,0.4);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
}

.hideOnMobile {
    display: none;
}

.side-menu li {
    width: 100%;
}

.side-menu a {
    width: 100%;
}

.title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

nav a:hover {
    color: dodgerblue;
}

nav a:focus {
    color: dodgerblue;
}

#selected {
    border-bottom: 3px solid dodgerblue;
}

/* PARAGRAPH STYLING */
p {
    line-height: 32px;  
}

/* RECIPE STYLING */
.recipe {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    /* gap: 15px; */
}

.recipe-info {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */
}

/* PET STYLING */
.pet {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.pet-info {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */
}

/* LOCATION styling */
.location {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    /* gap: 15px; */
}

.location-info {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */
}

.photo-gallery {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */

}

/* PHOTO GALLERY STYLING */
.static {
    display: none;
}

@media screen and (prefers-reduced-motion: reduce){

    html {
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skipToMain {
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }  

    .gif {
        display: none;
    }

    .static {
        display: block;
    }


  }

img {
    border: solid 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    border-top-right-radius: 30px;
}

video {
    border: solid 5px;
    margin: 20px 0px;
    padding: 10px;
    border-top-right-radius: 30px;
}

/* Tablet view */
@media screen and (min-width: 768px) {

    
    body {
        background-color: whitesmoke;
    }

    .hideOnMobile {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    .skipToMain {
        position: relative;
        top: -500px;
        text-transform: uppercase;
        display: block;
    }

    .skipToMain:focus {
        position: absolute;
        top: 20px;
    }

    :focus {
        border: solid 2px;
    }
      
}

/* DESKTOP VIEW */
@media screen and (min-width: 1200px) {

    body {
        background-color: cyan;
    }


}
